<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Song Information</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')  }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
     <div id="header">
        <div class="column">Information about '{{song_name}}'</div>
    </div>
    <div id="row-container">
        
    </div>
    
    <script> song_number = {{song_number}} </script>
    <script src="{{ url_for('static', filename='js/script_info.js')  }}"></script>

</body>
</html>